<div *ngIf="apiLoaded | async">
  <google-map [options]="options" #googleMap>
    <map-marker [position]="options.center" [options]="markerOptions"></map-marker>
    <map-marker #g_marker="mapMarker" [position]="marker.getPosition()" [options]="markerOptions"
                *ngFor="let marker of markers" (mapClick)="openInfoWindow(g_marker, infoWindow)">
      <map-info-window #infoWindow="mapInfoWindow">Empleado id: {{marker.getTitle()}}</map-info-window>
    </map-marker>
  </google-map>
</div>
